html, body {
	background: white;
}
.img {
	width: 100%;
	transition: all 0.2s ease-in-out;
}
.img:hover {
	transform: scale(1.2);
	opacity: 0.5;
}
div.container {
	position: relative;
	padding: 0;
}
h1 {
	font-size: 70px !important;
}
.container h1 {
	position: absolute;
	top: 50px;
	left: -100px;
	writing-mode: vertical-lr;
	transform: rotateZ(180deg);
	opacity: 0;
}
.item {
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
ul.nav-tabs {
	padding: 10px 0 0 10px;
    margin: 0 0 10px 0;
}
.nav-link.active {
	background: transparent;
}
#title {
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: slideInDown 1s;
}
#main {
	width: 100%;
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	z-index: 10;
}
.fadeout {
	animation: fadeout 1s ease;
	opacity: 0;
}
.fadein {
	animation: fadein 1s ease;
	opacity: 1 !important;
}
@keyframes fadeout {
	0% {opacity: 1}
	100% {opacity: 0}
}
@keyframes fadein {
	0% {opacity: 0}
	100% {opacity: 1}
}
@keyframes slideInDown {
  from {
    transform: translate3d(0, -10%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}