.article {
	border-left: solid 2px #222222;
	background: #fafafa;
	padding: 20px;
	color: gray;
	width: 100%;
	box-sizing: border-box;
}
.article img {
	float: right;
	width: 40%;
	margin-left: 5%;
	margin-bottom: 5%;
	border-right: solid 2px #222222;
}
.article h2 {
	color: black;
}
.content {
	border-left: solid 2px #717171;
	padding-left: 20px;
	margin-left: 10px
}