html, body {
	font-size: 20px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.wrap {
	position: relative;
	max-width: 1000px;
	margin: auto;
}
a {
	color: gray;
	text-decoration: none;
}
a:hover {
	color: #222222 !important;
	text-decoration: underline !important;
}
.active {
	color: #222222 !important;
	text-decoration: underline !important;
}
h1 {
	color: #222222;
	margin: 30px 20px 10px 10px;
	text-transform: uppercase;
}
#header {
	width: ;
	height: 350px;
	background: #fafafa;
	border-bottom: solid 1px #AEAEAE;
}
#banner {
	width: 100%;
	text-align: center;
	margin: auto;
	font-size: 0;
}
#menu {
	position: absolute;
	top: 0;
	left: 0;
	height: 350px;
	border-left: solid 1px #AEAEAE;
	border-right: solid 1px #AEAEAE;
	background: white;
	line-height: 70px;
	text-align: center;
	margin: auto;

}
#menu a {
	color: gray;
	text-decoration: none;
	font-weight: bold;
	height: 70px;
	padding: 0 20px;
	display: block;
	border-top: solid 1px #AEAEAE;
}
.banner {
	position: absolute;
	right: 0;
	height: 350px;
}
#top {
	position: fixed;
	bottom: 20px;
	right: 50px;
	text-align: right;
	background: white;
}

