* {	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body {
	font-size: 16px;
}
.wrap {
	position: relative;
	max-width: 1000px;
	margin: auto;
}
header .wrap {
	max-width: none;
}
a {
	color: gray;
	text-decoration: none;
}
a:hover {
	color: #222222 !important;
	text-decoration: underline !important;
}
.active {
	color: #222222 !important;
	text-decoration: underline !important;
}
h1 {
	color: #222222;
	text-transform: uppercase;
	margin: 90px 0;
	font-weight: 500;
	font-style: italic;
	text-align: center;
}
#banner {
	width: 100%;
	text-align: center;
	margin: auto;
	height: 500px;
	background: url(../img/banner.png) no-repeat;
	background-size: cover;
	background-position: 0 -100px;
	background-attachment: fixed;
	position: relative;
}
#banner img {
	width: 100%;
}
#banner h1 {
	position: absolute;
  top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	color: white;
}
nav {
	background: white;
	text-align: center;
	margin: auto;
	max-width: 1000px;
	padding: 15px 0;
}
nav ul {
	display: flex;
}
nav li {
	list-style-type: none;
	list-style-position: inside;
	width: 20%;
}
nav a {
	color: gray;
	text-decoration: none;
	font-weight: normal;
	padding: 0 50px;
	font-size: 18px;
}
#top {
	position: fixed;
	bottom: 20px;
	right: 50px;
	text-align: right;
	background: white;
	font-size: 16px;
}
body > footer {
	height: 90px;
	text-align: center;
	margin-top: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fdfdfd;
}
address i {
	padding: 10px;
}
address::before {
	content: "follow";
	color: gray;
}
